[Desktop Entry]
Encoding=UTF-8
Name=Multi Gmail Notifier
Icon=applications-email-panel
Type=Application
Categories=Network;
Exec=read.py
StartupNotify=false
Terminal=false
